{% load static %}
{% load tags %}

{% url 'event_list' as event_list %}

<html>
    <head>
		<meta charset="utf-8">
		<title>
			The Berkeley Forum - {% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{% static 'internal/style.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	<body>
		<div id="navbar" style="{% block nav-visibility %}{% endblock %}">
			<h5 class='navbar-header'>THE BERKELEY FORUM</h5>
			<a class="{% active request event_list %}" href="{{ event_list }}">Events</a>
		</div>
		<div id="container">
			{% block pagecontent %}
			{% endblock %}
		</div>
	</body>
</html>
