<!DOCTYPE html>
{% extends 'internal/base.html' %}

{% block title %}Events{% endblock %}

{% block pagecontent %}
	<div class="content">
		<table>
			<tr>
				<th>Status</th>
				<th>Event Title</th>
				<th>Speaker</th>
				<th>Date</th>
				{% if event_list %}
					{% for event in event_list %}
						<tr class='event-row'>
							<td>{{ event.confirmed }}</td>
							<td>{{ event.title }}</td>
							<td>{{ event.speaker_full_name }}</td>
							<td>{{ event.time }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<p>No events available.</p>
				{% endif %}
	</div>
{% endblock %}
