<!DOCTYPE html>
{% extends 'internal/base.html' %}
{% url 'internal:event_list' as event_list_url %}

{% block title %}Events{% endblock %}

{% block pagecontent %}
	<div class="content">
		<table class="list-table">
			<tr class="header-row">
				<th class='status-col'>Status</th>
				<th class='long-col'>Event Title</th>
				<th class='short-col'>Speaker</th>
				<th class='short-col'>Date</th>
			</tr>
			{% if event_list %}
				{% for event in event_list %}
					<tr class='event-row' data-url='{{ event_list_url }}{{ event.name }}'>
						{% if event.confirmed %}
							<td class='status-confirmed'>&middot;</td>
						{% else %}
							<td class='status-not-confirmed'>&middot;</td>
						{% endif %}
						<td class='half-row'>{{ event.title }}</td>
						<td class='quarter-row'>{{ event.speaker_full_name }}</td>
						<td class='quarter-row'>{{ event.time }}</td>
					</tr>
				{% endfor %}
			{% else %}
				<p>No events available.</p>
			{% endif %}
	</div>
{% endblock %}
